<!DOCTYPE html>
<html>
<head>
    <script>
        function generateCode() {
            var prefix = "RVM - ";
            var code = prefix + Math.floor(Math.random() * 100000) + " - " + generateRandomString(4) ;
            document.getElementById("code").innerHTML = code;
        }
		 function generateRandomString(length) {
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwzyx';
            var randomString = '';
            for (var i = 0; i < length; i++) {
                var randomIndex = Math.floor(Math.random() * characters.length);
                randomString += characters.charAt(randomIndex);
            }
            return randomString;
        }
    </script>
</head>
<body>
    <button onclick="generateCode()">Generate Code</button>
    <p id="code"></p>
</body>
</html>
